[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GeneSelectR"]
	path = GeneSelectR
	url = https://github.com/dzhakparov/geneselectr
